---
import React from './icons/ReactJs.astro'
import Html from './icons/HTML.astro'
import Css from './icons/Css.astro'
import MongoDB from './icons/MongoDB.astro'
import Node from './icons/Node.astro'
import Handlebars from './icons/Handlebars.astro'
import Vite from './icons/Vite.astro'
import Github from './icons/Github.astro'
import Link from './icons/Link.astro'

const TAGS = {
    REACT: {
        name: "React.Js",
        class: "bg-blue-900 text-red",
        icon: React,
    },
    HTML: {
        name: "HTML",
        class: "bg-amber-800 text-white",
        icon: Html,
    },
    CSS: {
        name: "CSS",
        class: "bg-sky-950 text-white",
        icon: Css,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-green-700 text-white",
        icon: MongoDB,
    },
    NODEJS: {
        name: "Node.js",
        class: "bg-white text-emerald-600",
        icon: Node,
    },
    HANDLEBARS: {
        name: "Handlebars",
        class: "bg-white text-black",
        icon: Handlebars,
    },
    VITE: {
        name: "Vite",
        class: "bg-black text-white",
        icon: Vite
    },
}

const PROJECTS = [
    {
        title: 'Unibook-Pro. for Jeblush',
        description: 'Created from scratch with React.Developed a full-stack RESTful application for a renowned beauty salon in Mexico City, designed to streamline their service reservations.',
        link: 'https://unibookpro-app.netlify.app/',
        github: 'https://github.com/Andresfrla/unibook-pro-client',
        image: '/projects/jeblush.webp',
        tags: [TAGS.REACT, TAGS.HTML, TAGS.MONGODB, TAGS.NODEJS],
    },
    {
        title: 'LOL-Wiki',
        description: 'This project is a dynamic app designed to tap into the League of Legends API. Developed using Bootstrap and Handlebars, the app presents a user-friendly interface that brings detailed game insights to the players',
        link: '',
        github: 'https://github.com/Andresfrla/LOL-Wiki',
        image: '/projects/LOL.webp',
        tags: [TAGS.HANDLEBARS, TAGS.HTML, TAGS.CSS]
    },
    {
        title: 'Vampire VS Zombies',
        description: 'Navigate a world where a vampire avoids zombies using canvas-rendered visuals. Consume pumpkins to transform and turn the undead into your prey. A captivating game crafted with HTML, CSS, and JavaScript.',
        link: 'https://andresfrla.github.io/vampires-vs-zombies/',
        github: 'https://github.com/Andresfrla/vampires-vs-zombies',
        image: '/projects/vampires.webp',
        tags: [TAGS.HTML, TAGS.CSS]
    },
    {
        title: 'Youtube Clone',
        description: 'Using the integration of an API to search diferent videos I make an app to have different categories and videos to show.',
        link: 'https://celadon-dieffenbachia-3463e0.netlify.app/',
        github: 'https://github.com/Andresfrla/youtube_clone',
        image: '/projects/youtube.webp',
        tags: [TAGS.REACT, TAGS.HTML, TAGS.CSS],
    },
    {
        title: 'Basic E-commerce',
        description: 'This basic e-commerce build using vite and React Js uses the different states to add products to the shopping cart',
        link: '',
        github: 'https://github.com/Andresfrla/basic-shop-react',
        image: '/projects/ecommerce.webp',
        tags: [TAGS.VITE ,TAGS.REACT, TAGS.HTML, TAGS.CSS]
    },
]
---

{
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty text-justify">{description}</p>
            <ul class="flex gap-x-2 lg:flex-row mb-2 sm:flex-wrap">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex flex-wrap gap-x-2 rounded-full sm:text-xxs md:text-s mb-2 mt-3 ${tag.class} py-1 px-2`}>
                            <tag.icon class={`size-5 ${'sm:text-xxs'}`} />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/20 mb-10" src={image} alt={`Screenshot of the project ${title}`} />
            <div class="items-center flex justify-center mb-5">
            {link && (
                <a href={link} class="flex items-center justify-center rounded-full text-s mb-2 mt-3 bg-blue-500 text-white py-1 px-2">
                    <div class="rounded-full bg-white p-2">
                        <Link class="size-5 text-blue-500" />
                    </div>
                </a>
            )}

            {github && (
                <a href={github} class="flex items-center justify-center rounded-full text-s mb-2 mt-3 bg-gray-800 text-white py-1 px-2">
                    <div class="rounded-full bg-white p-2">
                        <Github class="size-5 text-gray-800" />
                    </div>
                </a>
            )}
            </div>
            <hr class="mb-20">
        </article>
    ))
}



